<!DOCTYPE html>
<html>
    <head>
        <title>
					Octoberfest
			</title>
			<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet"> 

    </head>
    <body onload="ajaxCall()">
        
    <section>
    <div class="btn">
       <button>What Is My Carbon FootPrint</button>
       <button>What Can I Do To Help</button>
      </div>
      <!-- <div class="btn">
          <button>What Can I Do To Help</button>
      </div> -->
  </div>
     <div class="leaf">
     <div>  <img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Clip-Art-PNG.png')}}" height="75px" width="75px"></img></div>
      <div><img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Pictures-Collage-PNG.png')}}" height="75px" width="75px"></img></div>
      <div>  <img src="{{url_for('static', filename='assets/images/Green-Leaves-PNG-File.png')}}" height="75px" width="75px" ></img></div>
      <div><img  src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Clip-Art-PNG.png')}}" height="75px" width="75px"></img></div>
       <div> <img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Pictures-Collage-PNG.png')}}" height="75px" width="75px"></img></div>
     <div>   <img src="{{url_for('static', filename='assets/images/Green-Leaves-PNG-File.png')}}" height="75px" width="75px"></div>
     <div><img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Clip-Art-PNG.png')}}" height="75px" width="75px"></div>
            
     </div>
     
     <div class="leaf leaf1">
        <div>  <img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Clip-Art-PNG.png')}}" height="75px" width="75px"></img></div>
        <div><img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Pictures-Collage-PNG.png')}}" height="75px" width="75px"></img></div>
        <div>  <img src="{{url_for('static', filename='assets/images/Green-Leaves-PNG-File.png')}}" height="75px" width="75px" ></img></div>
        <div><img  src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Clip-Art-PNG.png')}}" height="75px" width="75px"></img></div>
         <div> <img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Pictures-Collage-PNG.png')}}" height="75px" width="75px"></img></div>
       <div>   <img src="{{url_for('static', filename='assets/images/Green-Leaves-PNG-File.png')}}" height="75px" width="75px"></div>
       <div><img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Clip-Art-PNG.png')}}" height="75px" width="75px"></div>
            
     </div>
     
     <div class="leaf leaf2">
        <div>  <img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Clip-Art-PNG.png')}}" height="75px" width="75px"></img></div>
      <div><img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Pictures-Collage-PNG.png')}}" height="75px" width="75px"></img></div>
      <div>  <img src="{{url_for('static', filename='assets/images/Green-Leaves-PNG-File.png')}}" height="75px" width="75px" ></img></div>
      <div><img  src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Clip-Art-PNG.png')}}" height="75px" width="75px"></img></div>
       <div> <img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Pictures-Collage-PNG.png')}}" height="75px" width="75px"></img></div>
     <div>   <img src="{{url_for('static', filename='assets/images/Green-Leaves-PNG-File.png')}}" height="75px" width="75px"></div>
     <div><img src="{{url_for('static', filename='assets/images/Autumn-Fall-Leaves-Clip-Art-PNG.png')}}" height="75px" width="75px"></div>
            
     </div>
     </section>

     <script src="{{url_for('static', filename='jquery.js')}}"></script>

     <script>
        //  curl --request POST \
        //  --url https://beta3.api.climatiq.io/estimate \
        //  --header 'Authorisation: Bearer S4PKACVX3B4TRSP75VFHC4DZJ8GZ' \
        //  --data '{
        //      "emission_factor": "electricity-energy_source_grid_mix",
        //      "parameters":
        //      {
        //         "energy": 4200,
        //         "energy_unit": "kWh"
        //      }
        //  }'
        // $(document).onready({
        //     $.ajax({
        //         url: "https://beta3.api.climatiq.io/estimate",
        //         type: "POST",
        //         headers: "Authorisation: Bearer S4PKACVX3B4TRSP75VFHC4DZJ8GZ",
        //         data: {
        //             "emission_factor": "electricity-energy_source_grid_mix",
        //             "parameters":
        //             {
        //                 "energy": 4200,
        //                 "energy_unit": "kWh"
        //             }
        //         },
        //         success: function (data) {
        //             var x = JSON.stringify(data);
        //             console.log(x);
        //         },

        //         error: function(error) {
        //             console.log(`Error ${error}`);
        //         }
        //     })
        // })
        // function ajaxCall() {
        //     $.ajax({
        //         url: "https://beta3.api.climatiq.io/estimate",
        //         type: "POST",
        //         headers: {"Authorization" : "Bearer S4PKACVX3B4TRSP75VFHC4DZJ8GZ"},
        //         data: {
        //                 "emission_factor": "electricity-energy_source_coal_fired_plant",
        //                 "parameters": {
		// 	                "energy": 30,
		// 	                "energy_unit": "TJ"
        //                 }
        //              },
        //         success: function (data) {
        //             var x = JSON.stringify(data);
        //             console.log(x);
        //         },

        //         error: function(error) {
        //             console.log(`Error ${error}`);
        //         }
        //     })
        // }
        // ajaxCall();

        var url = "https://beta3.api.climatiq.io/estimate";

        var xhr = new XMLHttpRequest();
        xhr.open("POST", url);

        xhr.setRequestHeader("Authorization", "Bearer S4PKACVX3B4TRSP75VFHC4DZJ8GZ");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            console.log(xhr.status);
            console.log(xhr.responseText);
        }};

        var data = `{
                "emission_factor": "electricity-energy_source_grid_mix",
                "parameters":
                    {
                    "energy": 4200,
                    "energy_unit": "kWh"
                    }
                }`;

        xhr.send(data);

     </script>

    </body>
</html>