<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tester</title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='behaviour.js')}}"></script>
    <!-- <style>
        .container{
            background: red;
        }
    </style> -->
</head>
<body>
    <div class="container">
        <div class="calc">
            What Is My FootPrint
        </div>
        <div class="advise">
            How Can I help
        </div>
    </div>
</body>
</html>